@media only screen and (min-width: 320px) {
    .filter{
        display: flex;
        flex-wrap: wrap;
    }
    .evenSection{
        display: flex;
        flex: 1 1 16%;
        border: 1px solid;
        justify-content: center;
        padding: 2px 20px;
    }
    .oddSection{
        display: flex;
        flex: 1 1 16%;
        border: 1px solid; 
        justify-content: center;
        padding: 2px 20px;
    }
    .sideFilter{
        width: 90%;
        margin: 2px;
    }
    .buttonShape{
        margin: 5px 47px;
        padding: 10px 10px;
    }
    .sideDivStyle {
        border: 1px solid;
        flex: 1 1 0%;
        margin: -4px -11px 20px 20px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        background: white;
        border-radius: 5px;
        padding: 0 0 0 8px;
    }
    #PostSection{
        max-height: 550px;
        display: flex;
        margin: 2px 2px;
        flex-wrap: wrap;
    }
    .blockSectionPara{
        width: 100%;
        text-align: center;
        max-height: 0px;
    }
    .blocksectionHr{
        width:75%;
        height: 0px;
        background: black;
    }
    .FilterWrap {
        /* display: flex; */
        width: 86%;
        border: 1px solid;
        /* flex-flow: wrap; */
        margin: 35px 24px;
        border-radius: 5px;
    }
    .blockSectionParaSuccess{
        width: 100%;
        text-align: center;
        max-height: 0px;
        font-size: 0.8em;
    }
    body{
        background: lightgrey;
    }
    .sideParaImage{
        display: flex;
        width: 88%;
        height: 150px;
        position: relative;
        left: 25px;
    }
    .sideParaMissionIdEleLI{
        position: relative;
        left: 17px;
        bottom: 10px;
    }
    .SupportDiv{
        display: flex;
    }
    .sideParaStyleSucessSpan{
        position: relative;
        top: 16px;
        
    }
    #successfullLaunch{
        display: flex;
        flex-flow: wrap;
    }
    #successfullLanding{
        display: flex;
        flex-flow: wrap;
    }
    .blockSectionParaSuccess{
        width: 100%;
        text-align: center;
        max-height: 0px;
    }
    .blockSectionParaSuccess{
        width: 100%;
        text-align: center;
        max-height: 0px;
    }
    .styleUL{
        position: relative;
        right: 40px;
        font-weight: bold;
    }
    .sideParaStyleSucessPara{
        font-weight: bold;
    }
    .anchorStyle{
        text-decoration: none;
        color: blue;
        display:flex;
    }
    .sideParaStyleSucess{
        position: relative;
        left: 8px;
    }
    .SupportDivLanding{
        position: relative;
        bottom: 17px;
        display: flex;
        } 
  }
